<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamik.pastify"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PastifyApplication"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".activity.StandOutExampleActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" />

        <service android:name=".activity.OverLayListActivity" />
        <service android:name=".activity.OverLayIconActivity" />

        <activity
            android:name=".activity.LogInActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_drawer" />
        <activity android:name=".activity.SigninActivity" />
        <activity android:name=".activity.UserAccountActivity" />
    </application>

</manifest>